In [11]:
%%capture
!pip install CensusData
import censusdata

In [46]:
import csv
b15_codes = {}
with open(r"C:\Users\Neal\OneDrive - University of Iowa\Spring 2021\GEOG 5540\Assignment 5\B15003_codes.csv",newline='') as csvfile:
    csv_read = csv.reader(csvfile)
    for row in csv_read:
        b15_codes[row[0]] = row[1]
b15_codes_list = [value[:6]+"_"+value[-3:]+"E" for value in b15_codes.keys()]
b15_codes

{'B15003001': 'Total',
 'B15003002': 'No Schooling Completed',
 'B15003003': 'Nursery School',
 'B15003004': 'Kindergarten',
 'B15003005': '1st Grade',
 'B15003006': '2nd Grade',
 'B15003007': '3rd Grade',
 'B15003008': '4th Grade',
 'B15003009': '5th Grade',
 'B15003010': '6th Grade',
 'B15003011': '7th Grade',
 'B15003012': '8th Grade',
 'B15003013': '9th Grade',
 'B15003014': '10th Grade',
 'B15003015': '11th Grade',
 'B15003016': '12th Grade, No Diploma',
 'B15003017': 'Regular High School Diploma',
 'B15003018': 'GED or Alternative Credential',
 'B15003019': 'Some College, Less than 1 Year',
 'B15003020': 'Some College, 1 or More Years, No Degree',
 'B15003021': "Associate's Degree",
 'B15003022': "Bachelor's Degree",
 'B15003023': "Master's Degree",
 'B15003024': 'Professional School Degree',
 'B15003025': 'Doctorate Degree'}

In [48]:
no_diploma = censusdata.download('acs5',2019,censusdata.censusgeo([('state','12'),
                                                        ('county','*')]),
                                                    b15_codes_list[1:20])
diploma = censusdata.download('acs5',2019,censusdata.censusgeo([('state','12'),
                                                        ('county','*')]),
                                                    b15_codes_list[1:20])

In [3]:
data = censusdata.download('acs5',2019,censusdata.censusgeo([('state','12'),
                                                        ('county','*')]),
                           ['B01001_001E','B19113_001E','B15003_023E',
                            'B15003_024E','B15003_025E'])

data.columns =['Total Population','Median family income','Masters degree',
               'Professional school degree','Doctoral Degree']

In [ ]:
data["No High School Degree or GED"] = data['9th grade']+data['10th grade']+data['11th grade']+data['12th grade, no diploma']
del data['9th grade']
del data['10th grade']
del data['11th grade']
del data['12th grade, no diploma']

In [ ]:
data["GED or High School Diploma"] = data['Regular high school diploma'] + data['GED or alternative credential']
del data['Regular high school diploma']
del data['GED or alternative credential']

In [ ]:
data["Some College - No Degree"] = data['Some college, less than 1 year'] + data['Some college, 1 or more years, no degree']
del data['Some college, less than 1 year']
del data['Some college, 1 or more years, no degree']

In [ ]:
data["Undergrad Degree"] = data['Associates degree'] + data['Bachelors degree']
del data['Associates degree']
del data['Bachelors degree']

In [5]:
data["Graduate Degree"] = data['Masters degree'] + data['Professional school degree']+data['Doctoral Degree']
del data['Masters degree']
del data['Professional school degree']
del data['Doctoral Degree']

In [8]:
g = censusdata.geographies(censusdata.censusgeo([('state', '12'), ('county', '*')]), 'acs5', 2019)
codes = []
for item in g.items():
    for tup in item:
        if str(tup).startswith("Summary level"):
            geocode = ""
            county = str(tup)[37:40]
            geocode = "12"+county
            codes.append(geocode)
print(codes)

['12133', '12031', '12007', '12009', '12019', '12067', '12069', '12089', '12103', '12105', '12111', '12043', '12051', '12061', '12063', '12109', '12117', '12005', '12035', '12045', '12077', '12097', '12131', '12039', '12065', '12083', '12049', '12093', '12095', '12041', '12121', '12001', '12013', '12015', '12029', '12085', '12115', '12081', '12017', '12003', '12113', '12073', '12011', '12087', '12053', '12057', '12123', '12129', '12099', '12086', '12037', '12047', '12119', '12059', '12071', '12021', '12101', '12055', '12027', '12023', '12107', '12125', '12075', '12127', '12079', '12033', '12091']

In [9]:
data['geocodes'] = codes
data = data.set_index('geocodes')

In [10]:
data[:10]

          Total Population  Median family income  Graduate Degree
geocodes
12133                24764                 47022              701
12031               936186                 67947            64622
12007                27317                 54554              704
12009               585507                 71135            50015
12019               211405                 74803            11516
12067                 8637                 60360              388
12069               345867                 65724            22094
12089                83098                 81672             6927
12103               964666                 72411            82397
12105               686218                 58508            33166

In [ ]:
data.to_csv(r"C:\Users\Neal\OneDrive - University of Iowa\Spring 2021\GEOG 5540\Assignment 4\texas_education.csv")